<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SemihBerkeKilic_FinalProject.styles.css" asp-append-version="true" />
    <style>
        /* Header Styling */
        .navbar {
            background-color: #343a40;
        }

        .navbar-brand {
            color: #fff !important;
            font-weight: bold;
            font-size: 24px;
            transition: color 0.3s;
            display: flex;
            align-items: center;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }

            .navbar-brand:hover {
                color: #dc3545;
            }

        .navbar-nav .nav-link {
            color: #fff;
            transition: color 0.3s;
            height: 44px;
            line-hight: 44px;
        }

            .navbar-nav .nav-link:hover {
                color: #dc3545;
            }

        .navbar-nav.ml-auto {
            margin-left: auto;
        }

        .navbar-nav .nav-item:not(:last-child) {
            margin-right: 10px;
            line-height: 30px;
        }
        /* Logout Button Styling */
        .nav-link.logout-button {
            font-weight: 600;
            transition: color 0.3s;
            border: 2px solid #dc3545; /* Add border instead of background color */
            background-color: transparent; /* Remove background color */
            border-radius: 5px;
            padding: 8px 15px;
            box-shadow: none; /* Remove box shadow */
            height: 44px;
        }

            .nav-link.logout-button:hover {
                color: #fff !important;
                background-color: #dc3545 !important;
                border-color: #dc3545; /* Adjust border color on hover */
                box-shadow: none; /* Remove box shadow on hover */
            }

        #logout-link {
            color: white !important; /* Override the color style */
        }
        /* Footer Styling */
        .footer {
            background-color: #343a40;
            padding: 10px 0;
        }

        .footer-text {
            color: #fff;
            font-size: 14px;
        }
        /* Body Styling */
        body {
            background-color: #222;
            color: #fff;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Welcome">Ana Sayfa</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-expand-lg">
                    <ul class="navbar-nav flex-grow-1 ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Profile" asp-route-username="@User.FindFirst("Username").Value">
                                    @User.FindFirst("Username").Value
                                </a>
                            </li>
                            <li class="nav-item">
                                <form class="d-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="nav-link logout-button" id="logout-link">Çıkış yap</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="footer-text text-white">&copy; 2023 - SemihBerkeKilic_FinalProject - <a class="footer-link" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>