@{
    ViewData["Title"] = "Home Page";
}

<style>
    .welcome-heading {
        color:black;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
    }

    .card-body{
        background-color: #222;
        border-color: #222;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="welcome-heading">Hoşgeldin, @User.Identity.Name</h2>
                    <p class="card-text text-center" style="color:black">GitHub'da <a href="https://github.com/sberkekilic/SemihBerkeKilic_FinalProject">bu projenin deposunu</a> bulabilirsin!</p>
                </div>
            </div>
        </div>
    </div>
</div>
