@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/WelcomeLayout.cshtml";
}

<h2 style="text-align:center;">Welcome</h2>
<a href="/Account/Login" class="btn btn-primary">Login</a>
<a href="/Account/Register" class="btn btn-primary">Register</a>
